
:root{
    --main-color: #b94ff9;
    --color-white: #fff;
}
.logotipo{
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
}
.logotipo.header{
  flex-direction: row;
}

.logotipo.form{
  flex-direction: column;
 
}

h1{
    font-family: 'montserrat';
    color:var(--main-color);
      justify-content: center;
    align-items: center;
    text-align: center;
  }
  span{
    color:var(--color-white);
  }

.form .img{
  /* position: absolute; */
  margin-top: 80px !important;
  padding: 0 !important;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 120px;
  height: 120px;
}

.header .img{
  width: 50px;
  height: 50px;
}

.header h1{
  margin-left: 10px;
font-size: 22px;
}