.menu {
  display: none;
  position: absolute;
  top: 50px;
  right: 10px;
  background-color: var(--color-white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: translateX(100%);
  opacity: 0;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  padding: 10px 20px;
}

.menu ul li a {
  text-decoration: none;
  color: #333;
}

.menu.open {
  display: block;
  transform: translateX(0);
  opacity: 1;
  transition: .3s;
}
