@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --main-color: #b94ff9;
  --color-white: #fff;
  --gray-color:#7a7979;
  --bg-color:rgb(15, 25, 35);
  --secondary-color: #4f4ff9;
  --accent-color: #f94f9e;
  --color-light-gray: #f0f0f0;
  --color-dark-gray: #333;
  --color-success: #4caf50;
  --color-error: #f44336;
  --color-warning: #ff9800;
  --font-size-title: 2.5rem;
  --font-size-subtitle: 1.75rem;
  --font-size-body: 1rem;
  --font-size-small: 0.875rem;
  font-family: 'Roboto', sans-serif;
}
body {
  margin: 0 !important;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins';
}

h1, h2, h3, h4, h5, h6, p{
  font-family: 'Montserrat', sans-serif;

  margin: 0;

}
.App{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(15, 25, 35);
  background-color: rgb(18, 19, 29);
}