@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Syncopate:wght@400;700&display=swap');
header{
    width: 100vw;
    height: 70px;
    padding: 10px 0;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.397);
    box-shadow: 0px 0px 2px 0px var(--color-white);

    border-bottom: 1px solid transparent;
    border-image: linear-gradient(45deg, #b94ff9, #532dfd);
    border-image-slice: 1;
    background-origin: border-box;
    /* background-clip: content-box, border-box; */
}

.box{

}

.boxUsername{
    display: flex;
    align-items: center;
    text-align: center;
    /* justify-content: space-between; */
}

.textWelcome{
    color: var(--color-white);
    font-size: 12px;
    font-family: "Orbitron", sans-serif;
  font-weight: 700;
}
.username{
    margin-left: 6px;
    color: var(--main-color);
    font-size: 10px;
    font-family: 'Orbitron', sans-serif;
    font-style: italic;
}